name: Inspect Boot Image (magojohnji magiskboot)

on:
  workflow_dispatch:
    inputs:
      IMG_URL:
        description: "Direct boot.img URL (MediaFire / direct)"
        required: true
        type: string

jobs:
  inspect:
    runs-on: ubuntu-latest

    steps:
      - name: Install dependencies
        run: sudo apt update && sudo apt install -y wget

      - name: Download boot.img
        run: |
          wget -O boot.img "${{ github.event.inputs.IMG_URL }}"
          file boot.img
          ls -lh boot.img

      - name: Download magiskboot binary
        run: |
          wget https://raw.githubusercontent.com/magojohnji/magiskboot-linux/main/x86_64/magiskboot
          chmod +x magiskboot

      - name: Show boot metadata
        run: |
          echo "===== MAGISKBOOT HEADER INFO ====="
          ./magiskboot unpack -h boot.img || true